{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <h1>Rango says here is the about page</h1>
    <p>visits: {{ visits }}</p>
    <div>
        Although there is not much to say about this application right now.<br/>
        <strong>{{ boldmessage }}</strong>
    </div>
    <div>
        This tutorial has been put together by yours truly.<br/><br/>
        <img src="{{ MEDIA_URL }}cat.jpg"/>
    </div>
    <br/>
    <button class="btn btn-primary"
            onclick="alert('You clicked the button using JavaScript.');">
            Click Me - I run JavaScript
    </button>
    <br/>    <br/>
    <button class="btn btn-primary" id="about-btn">
        Click Me - I'm JavaScript on Speed
    </button>
    <p>This is an example</p>
    <p>This is another example</p>

    <div id="msg">Hello - I'm here for a JQuery Example too</div>
{% endblock %}
